<div>
  <%= @time_log.sprint_number %>
  <%= @time_log.ticket %>
  <%= @time_log.my_action %>
  <%= @time_log.start_time %>
  <%= @time_log.end_time %>
  <%= @time_log.notes %>
  <% if @time_log.currently_active_task == true %>
    <%= form_tag "/time_logs/#{@time_log.id}", method: :patch do %>
      <button type="submit" name="currently_active_task" value="false">End</button>
    <% end %>
  <% end %>
</div>